*{
    font-family: 'Work Sans', sans-serif;
}

/* header styles  */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px
}
nav{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 1rem;
}
.section-title{
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
}
nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424242);
}

/* banner styles  */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.text-light-gray{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    font-size: 1.25rem;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 20px 25px;
    cursor: pointer;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

/* main styles  */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-right: 5rem;
    padding-left: 5rem;
}
.teams-title{
    font-size:2.8rem;
}
.Quick-list{
    color: var(--Dark-03, #727272);
    font-weight: 500;
}
.of-Our{
    color: var(--Dark-01, #131313);
    font-weight: 700;
}
.text-Features{
    color: #FF900E;
    font-weight: 700;
}
/* feature section styles  */
.features{
    display: flex;
    margin-top: 150px;
    gap: 120px;
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-content .card{
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-years-badge{
    border-radius:8px;
    background: #FF900E;
    color:#FFF;
    width: 342px;
}
.ten-years-badge h2{
    font-size: 4rem;
}
/* facts section  */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: .5rem;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem; 
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-top: 10px;
}
/* sponsors style  */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
}
/* responsive media quarys  */
@media screen and (max-width: 576px) {
    header,.teams-content{
        padding: 20px;
    }
    nav,.teams-container,.facts-card-container,.sponsors-img-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .sponsors-img-container{
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }
    .sponsors-img-container img{
        width:165px;
        gap: 20px;
        align-items: center;
    }   
}
/* medium  */
@media screen and (min-width: 576px) and (max-width:960px){
    header ,.facts-card-container{
        padding:50px;
    }
    nav,.teams-container,.facts-card-container,.sponsors-img-container{
        flex-direction: column;
    }
    .facts-card-container{
        gap: 20px;
    }
    .sponsors-img-container{
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }
    .sponsors-img-container img{
        width:165px;
        gap: 20px;
        align-items: center;
    }
}